Repository ashwinvaidya17/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, CLI, API, tests, tasks

Add anomaly dependencies as extra requires
  setup.py
Labels: dependencies

Separate openvino dependencies
  requirements/openvino.txt
Labels: none

Removed openvino requirements from anomaly requirements
  requirements/anomaly.txt
Labels: none

Update anomaly entrypoints in template files
  ote/algorithms/anomaly/templates/classification/padim/template.yaml
  ote/algorithms/anomaly/templates/classification/stfpm/template.yaml
Labels: none

Create base.txt file for base requirements
  requirements/api.txt
  requirements/base.txt
  requirements/cli.txt
  requirements/dev.txt
  setup.py
Labels: dependencies

Update setup.py and requirements.
  requirements/base.txt
  setup.py
Labels: dependencies

remove check_python_version function from setup.py
  setup.py
Labels: dependencies

Update setup.py
  requirements/base.txt
  setup.py
Labels: dependencies

Clean up the anomaly task
  ote/algorithms/anomaly/.gitignore
  ote/algorithms/anomaly/init_venv.sh
  ote/algorithms/anomaly/setup.py
  ote/algorithms/anomaly/tests/test_ote_task.py
Labels: dependencies

Added ote version and the final setup.py
  ote/__init__.py
Labels: none

Revert "Enhance training schedule for multi-label classification (#1212)"
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/model.py
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/model_multilabel.py
  external/model-preparation-algorithm/configs/classification/efficientnet_b0_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/model.py
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/model_multilabel.py
  external/model-preparation-algorithm/configs/classification/efficientnet_v2_s_cls_incr/template.yaml
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/model.py
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/model_multilabel.py
  external/model-preparation-algorithm/configs/classification/mobilenet_v3_large_1_cls_incr/template.yaml
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
Labels: tasks

Append annotation to a dataset item in cls ov task
  external/deep-object-reid/torchreid_tasks/openvino_task.py
Labels: tasks

Fix labels appending in mpa classification task
  external/model-preparation-algorithm/mpa_tasks/apis/classification/task.py
Labels: tasks

Remove model assignment after optimze
  src/otx/algorithms/anomaly/tasks/openvino.py
Labels: none

add setup
  src/otx/algo/anomaly/uflow.py
Labels: none

stash
  src/otx/backend/native/callbacks/adaptive_early_stopping.py
  src/otx/backend/native/engine.py
  src/otx/core/model/detection.py
  test.py
Labels: none

add ultralytics
  lib/pyproject.toml
  lib/src/otx/backend/native/engine.py
  lib/src/otx/backend/native/models/base.py
  lib/src/otx/backend/ultralytics/__init__.py
  lib/src/otx/backend/ultralytics/data.py
  lib/src/otx/backend/ultralytics/engine.py
  lib/src/otx/cli/cli.py
  lib/src/otx/data/factory.py
  lib/src/otx/data/utils/utils.py
  lib/src/otx/engine/__init__.py
  lib/src/otx/recipe/detection/yolo_ultralytics_v11n.yaml
  lib/src/otx/recipe/detection/yolo_ultralytics_v8n.yaml
  lib/src/otx/tools/converter.py
  lib/src/otx/types/task.py
Labels: none

minor fixes
  lib/src/otx/backend/ultralytics/engine.py
Labels: none

Add template
  lib/src/otx/backend/ultralytics/engine.py
  lib/src/otx/recipe/detection/yolo_ultralytics_v11n.yaml
  lib/src/otx/recipe/detection/yolo_ultralytics_v8n.yaml
  lib/src/otx/tools/templates/detection/detection/ultralytics_yolo_11/template.yaml
  lib/src/otx/tools/templates/detection/detection/ultralytics_yolo_8/template.yaml
Labels: none

update template path + converter
  lib/src/otx/recipe/ultralytics_detection/yolo_ultralytics_v11n.yaml
  lib/src/otx/recipe/ultralytics_detection/yolo_ultralytics_v8n.yaml
  lib/src/otx/tools/converter.py
Labels: none

Remove ultralytics task
  lib/src/otx/backend/ultralytics/data.py
  lib/src/otx/backend/ultralytics/engine.py
  lib/src/otx/data/factory.py
  lib/src/otx/data/utils/utils.py
  lib/src/otx/recipe/detection/yolo_ultralytics_v11n.yaml
  lib/src/otx/recipe/detection/yolo_ultralytics_v8n.yaml
  lib/src/otx/tools/converter.py
  lib/src/otx/types/task.py
Labels: none

Rename templates
  lib/src/otx/tools/converter.py
  lib/src/otx/tools/templates/detection/detection/yolo_ultralytics_v11n/template.yaml
  lib/src/otx/tools/templates/detection/detection/yolo_ultralytics_v8n/template.yaml
Labels: none

change default model
  lib/src/otx/tools/converter.py
Labels: none

Fixes
  lib/src/otx/backend/ultralytics/engine.py
  lib/src/otx/tools/converter.py
Labels: none

missing keys
  lib/src/otx/tools/converter.py
Labels: none

fix dict values
  lib/src/otx/tools/converter.py
Labels: none

remove coco eval
  lib/src/otx/backend/ultralytics/engine.py
Labels: none

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - "**/*requirements*.*"
  - "**/setup.py"
CLI:
  - "ote/cli/**/*"
API:
  - "ote/api/**/*"
tests:
  - "tests/**/*"
tasks:
  - "external/**/*"
